@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:wght@300;400;600;700;800&display=swap");

@import "tailwindcss";
@theme {
  --color-accent: #b02fc2;
  --spacing-global: 1080px;
  --spacing-mobile: 24px;
  --font-league-spartan: "League Spartan", "sans-serif";
  --animation-spin-slow: spin 10s linear infinite;
  --inset-shadow-md: inset 0.5px 0.5px 0.5px 1px rgba(0, 0, 0, 0.25);
}

@layer components {
  .text-hover {
    @apply bg-linear-to-r from-pink-300 via-slate-500 to-purple-500 bg-clip-text text-transparent transition duration-500;
  }
  .button-hover {
    @apply bg-white text-slate-950;
  }
}

:root {
  font-family: "Poppins", sans-serif;
}

.my-container {
  @apply md:mx-auto w-full lg:max-w-global md:max-w-3xl;
}
.blury {
  --webkit-backdrop-filter: blur(20px);
  @apply inset-shadow-xs bg-neutral-500/20 inset-shadow-neutral-400/20 backdrop-blur-xl;
}
.pause-spin {
  animation-play-state: paused;
}
.object-position-project {
  object-position: 10% 0%;
}
