@import "tailwindcss";
@theme {
  --color-accent: #b02fc2;
  --spacing-global: 1080px;
  --spacing-mobile: 24px;
  --font-league-spartan: "League Spartan", "sans-serif";
  --animation-spin-slow: spin 10s linear infinite;
  --inset-shadow-md: inset 0.5px 0.5px 0.5px 1px rgba(0, 0, 0, 0.25);
}

@layer components {
  .text-hover {
    @apply bg-linear-to-r from-pink-300 via-slate-500 to-purple-500 bg-clip-text text-transparent transition duration-500;
  }
  .button-hover {
    @apply bg-white text-slate-950;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.my-container {
  @apply md:mx-auto w-full lg:max-w-global md:max-w-3xl;
}
.blury {
  --webkit-backdrop-filter: blur(20px);
  @apply inset-shadow-md bg-neutral-500/30 inset-shadow-neutral-400/30 backdrop-blur-md shadow-sm;
}
.blury-sm {
  @apply bg-neutral-500/30 inset-shadow-md inset-shadow-neutral-500/40 shadow-sm;
}
.blury-btn {
  @apply bg-neutral-400/30 inset-shadow-md inset-shadow-neutral-400/40 shadow-sm;
}
http://localhost:5173/src/assets/projects/project-2.webp
  .pause-spin {
  animation-play-state: paused;
}
.object-position-project {
  object-position: 10% 0%;
}
